<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Landing Page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/landingPage.css' %}">
</head>
<body>
	<header >
		<div class="header-container">
			
		</div>
	</header>
	<div class="hero">
		<div class="container">
			<h2>Secure Storage</h2>
			<p>Reliable protection for your digital assets</p>
			<div class="buttons">
				<a href="{% url 'register' %}">Create new Account</a>
				<a href="{% url 'login' %}">Login to Your Account</a>
			</div>
		</div>
	</div>
	<div class="features">
		<div class="feature">
			<h3>Secure Storage</h3>
			 <p>We offer state-of-the-art security to protect your cryptocurrency investments.</p>
        </div>
        <div class="feature">
            <h3>Reliable Protection</h3>
            <p>Our platform ensures that your digital assets are safe and secure at all times.</p>
        </div>
    </div>
	<footer>
        <div class="container">
            <p>&copy; 2024 Vault Crypt. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>